@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --typewriterSpeed: 3s;
  --typewriterCharacters: 13;
}

#home {
  height: calc(100vh - 180px) !important;
}

.banner {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 90vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.banner-title {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: 'Source Code Pro', monospace;
  position: relative;
  width: max-content;
  color: var(--text-color);
}

.banner-title::before,
.banner-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-title::before {
  background: var(--bg-background-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.banner-title::after {
  width: 0.1em;
  background: var(--text-color);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.banner-subtitle {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: var(--bg-background-color);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.banner-carousel {
  width: 100%;
  height: 180px;
  margin: 0 auto;
  position: relative;
  background: var(--bg-background-color-third);
  border: 1px solid #242424;
}

.banner-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-carousel-icon {
  font-size: 100px;
}

.react-multiple-carousel__arrow {
  display: none;
}
